<h1>Promowame produkty</h1>

<mat-card *ngFor="let product of homePageData?.saleProducts">
    <div flexLayout="row">
        <div flexLayout="colum" fxFlex>
            <mat-card-title><a routerLink="{{'/products/' + product.slug}}">{{product.name}}</a></mat-card-title>
            <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
            <div flexLaoyout="row">
                <a routerLink="{{'/products/' + product.slug}}">
                    <img *ngIf="!product?.image" mat-card-lg-image class="productImage" src="/assets/image-placeholder.png">
                    <img *ngIf="product?.image" mat-card-lg-image src="{{'/api/data/productImage/' + product?.image}}">
                </a>
                <mat-card-content fxFlex>{{product.description}}</mat-card-content>
            </div>
        </div>
        <div>
            <div class="productPrice" [ngClass]="{'productPriceDisable': product.salePrice}">{{product.price}} {{product.currency}}</div>
            <div class="productSalePrice" *ngIf="product.salePrice">{{product.salePrice}} {{product.currency}}</div>
        </div>
    </div>

    <mat-card-actions align="end" fxLayoutGap="10">
        <button mat-flat-button color="accent" routerLink="{{'/products/' + product.slug}}">Pokaż</button>
        <button mat-flat-button color="warn" routerLink="/cart" [queryParams]="{productId: product?.id}">Do koszyka</button>
    </mat-card-actions>
</mat-card>
