@import "../../../variables.scss";
.description, .fullDescription{
    margin-top:20px;
    margin-bottom: 25px;
}
.price{
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $warn;
}
.review{
    background-color: white;
    margin: 20px 0;
    padding: 7px;
}
.productSalePrice{
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px; 
    color: green;
    margin-left: 5px;
}
.productPriceDisable{
    color: lightgray;
    text-decoration: line-through;
    font-size: 22px;
}
